<footer th:fragment="footer">
  <div class="footer-container">
    <div class="copyright">
      <p>
        © 2025
        <a href="https://kevinqzg.vercel.app/" target="_blank">Kevin Quiroz</a>
        | Powered by Spring Boot
      </p>
    </div>
    <div class="social-icons">
      <a href="https://github.com/KevinQzG" target="_blank">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://linkedin.com/in/kquirozg" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://instagram.com/kquirozg30" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
  </div>
  <!-- FontAwesome para iconos -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
  />
</footer>
